* {
  margin: 0;
  font-family: comic relief, sans-serif;
}

.header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(90deg, #19034e 1.18%, #6d38f2 100%);
  color: white;
}
.header > img {
  width: 3.2rem;
}

main {
  margin-top: 2rem;
}
.form {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  gap: 2rem;
  margin-bottom: 1.5px;
}
.form input {
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.form button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #19034e 1.14%, #6d38f2 100%);
  color: white;
  border: none;
  cursor: pointer;
}
