* {
  margin: 0;
  font-family: comic relief, sans-serif;
}

.header {
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  gap: 1rem;
  background: linear-gradient(90deg, #19034e 1.18%, #6d38f2 100%);
  color: white;
}
.header > img {
  width: 3.2rem;
}

main {
  margin-top: 2rem;
}
.form {
  display: grid;
  grid-template: auto auto / 1fr 1fr;
  gap: 2rem;
  margin: 2rem 2rem;
  font-weight: 600;
}
.form input {
  width: 100%;
  margin-top: 0.8rem;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}
.form button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #19034e 1.14%, #6d38f2 100%);
  color: white;
  border: none;
  cursor: pointer;
}
.form input,
.form button {
  min-height: 40px;
}
.meme {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.meme > img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
.meme span {
  position: absolute;
  text-align: center;
  margin-block: 15px;
  padding-inline: 5px;
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.bottom {
  bottom: 0;
}
.top {
  top: 0;
}
